.container{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    /* background-color: red; */
}
.container .header{
    height: 60px;
    background-color: #333;
    color: #fff;
}
.container .middle{
    position: absolute;
    width: 100%;
    top: 60px;
    bottom: 0px;
    /* background: blue; */
    overflow: hidden;
    display: flex;
}
.container .middle .left{
    height: 100%;
    width: 300px;
    overflow: auto;
    background: lightpink;
    /* background-color: red; */
}
.container .middle .right{
    height: 100%;
        width: 100%;
        overflow: auto;
        /* background: red;  */
        /* background-color: red; */
}
